  <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu active pcoded-trigger">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">Menyu</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li>
                                            <a asp-controller="Users" asp-action="index">
                                                <span class="pcoded-mtext">Users</span>
                                            </a>
                                        </li>
                                          <li>
                                            <a asp-controller="Professions" asp-action="index">
                                                <span class="pcoded-mtext">Professions</span>
                                                <span class="pcoded-badge label label-info">NEW</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Permissions" asp-action="index">
                                                <span class="pcoded-mtext">Permissions</span>
                                            </a>
                                        </li>
                                          <li>
                                            <a asp-controller="Departments" asp-action="index">
                                                <span class="pcoded-mtext">Departments</span>
                                                <span class="pcoded-badge label label-info">NEW</span>
                                            </a>
                                        </li>
                                   
                            </ul>
                        </div>
                    </nav>