
@{
    ViewData["Title"] = "About";
}
 <main class="table">
        <section class="table__header">
            <h1>ADNSU</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="~/images/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table id="content-table">
                <thead>
                    <tr>
                        <th> Ad <span onclick="sortTable(1)" class="icon-arrow">&UpArrow;</span></th>
                        <th> Soyad <span onclick="sortTable(2)" class="icon-arrow">&UpArrow;</span></th>
                        <th> Tarix <span onclick="sortTable(3)" class="icon-arrow">&UpArrow;</span></th>
                        <th> İcazə <span onclick="sortTable(4)" class="icon-arrow">&UpArrow;</span></th>
                        <th> Vaxt <span onclick="sortTable(5)" class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Anar</td>
                        <td> Rasulov </td>
                        <td> 2021/04/20</td>
                        <td>
                            <p class="status delivered">İcazə Verilib</p>
                        </td>
                        <td> <strong> 17:38 </strong></td>
                    </tr>
                    <tr>
                        <td> Bnar </td>
                        <td> Abbaslı </td>
                        <td> 2020/01/05 </td>
                        <td>
                            <p class="status cancelled">İcazə Verilməyib</p>
                        </td>
                        <td> <strong>16:52</strong> </td>
                    </tr>
                    <tr>
                        <td> Cnar </td>
                        <td> Mehdixanlı </td>
                        <td> 2019/12/21 </td>
                        <td>
                            <p class="status delivered">İcazə Verilib</p>
                        </td>
                        <td> <strong>13:10</strong> </td>
                    </tr>
                    <tr>
                        <td> Dnar </td>
                        <td> İskəndırov</td>
                        <td> 2019/07/20 </td>
                        <td>
                            <p class="status delivered">İcazə Verilib</p>
                        </td>
                        <td> <strong>15:32</strong> </td>
                    </tr>
                    <tr>
                        <td> Enar </td>
                        <td> Bayramlı </td>
                        <td> 2020/02/09 </td>
                        <td>
                            <p class="status pending">Cözlənilir</p>
                        </td>
                        <td> <strong>16:48</strong> </td>
                    </tr>
                    <tr>
                        <td> Fnar </td>
                        <td> Sadıqov </td>
                        <td> 2023/01/13 </td>
                        <td>
                            <p class="status cancelled">İcazə Verilməyib</p>
                        </td>
                        <td> <strong>12:10</strong> </td>
                    </tr>
                    <tr>
                        <td> Gnar </td>
                        <td> Qocayev </td>
                        <td> 2019/09/14 </td>
                        <td>
                            <p class="status delivered">İcazə Verilib</p>
                        </td>
                        <td> <strong>13:24</strong> </td>
                    </tr>
                    <tr>
                        <td> Hnar </td>
                        <td> Əliyev</td>
                        <td> 2018/11/13 </td>
                        <td>
                            <p class="status pending">Gözlənilir</p>
                        </td>
                        <td> <strong>18:44</strong> </td>
                    </tr>
                    <tr>
                        <td> İnar </td>
                        <td> Osmanov</td>
                        <td> 2022/03/16 </td>
                        <td>
                            <p class="status cancelled">İcazə Verilməyib</p>
                        </td>
                        <td> <strong>19:43</strong> </td>
                    </tr>
                    <tr>
                        <td> İnar </td>
                        <td> Osmanov</td>
                        <td> 2022/03/16 </td>
                        <td>
                            <p class="status cancelled">İcazə Verilməyib</p>
                        </td>
                        <td> <strong>19:43</strong> </td>
                    </tr>
                    <tr>
                        <td> İnar </td>
                        <td> Osmanov</td>
                        <td> 2022/03/16 </td>
                        <td>
                            <p class="status cancelled">İcazə Verilməyib</p>
                        </td>
                        <td> <strong>19:43</strong> </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

