@{
    ViewData["Title"] = "Index";
}

<div class="container">
<section id="wexsi_melumat">
    <form action="">
        <div class="form-group">
            <label for="ad">Ad:</label>
            <input type="text" disabled value="rufet">
        </div><br>
        <div class="form-group">
            <label for="ad">Soyad:</label>
            <input type="text" disabled >
        </div><Br>
        <div class="form-group">
            <label for="ad">FIN:</label>
            <input type="text" disabled >
        </div><br>
        <div class="form-group">
            <label for="ad">Şöbə:</label>
            <input type="text" disabled >
        </div><br>
        <div class="form-group">
            <label for="ad">Vəzifə:</label>
            <input type="text" disabled >
        </div>
    </form>
    
</section>

</div>
  <partial name="_Pickup"/>