<div class="theme-toggler">
    <span class="picture"></span>
    <span style="background:linear-gradient(rgb(103, 103, 158),rgb(1, 1, 8));"></span>
    <span style="background:linear-gradient(#145A32,#097660 )"></span>
    <span style="background:linear-gradient(rgb(44, 165, 165),rgb(141, 125, 125) );"></span>
    <span style="background:linear-gradient(-135deg, #c850c0, #4158d0)"></span>
    <span style="background:linear-gradient(#999, #111)"></span>
</div>